.Table {
    height: 422px;
    width: 764px;
    margin-bottom: 24px;
    border: 1px solid #2b4040;
    border-radius: 20px;
}

.table-content {
    width: 100%;
    /*border: none;*/
    margin-bottom: 20px;
    border-radius: 15px;
}

.table-content tr th:first-child, .table tr td:first-child {
    border-left: 1px solid #ddd;
}
.table-content tr th:last-child, .table tr td:last-child {
    border-right: 1px solid #ddd;
}
.table-content thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table-content thead tr th:last-child {
    border-radius: 0 20px 0 0;
}

th {
    height: 28px;
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #2b4040;
    font-size: 14px;
    border-left: 1px solid #2b4040;
    border-right: 1px solid #2b4040;
}

td {
    height: 24px;
    text-align: left;
    border-left: 1px solid #2b4040;
    border-right: 1px solid #2b4040;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.table-content thead tr th:first-child, .table tbody tr td:first-child {
    border-left: none;
}
.table-content thead tr th:last-child, .table tbody tr td:last-child {
    border-right: none;
}
.table-content tbody tr:nth-child(even){
    background: #345252;
}

.table-content tbody tr:last-child td{
    border-bottom: 1px solid #2b4040;
}
.table-content tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table-content tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}
.table-content tbody tr:last-child td {
    border-bottom: #2b4040;
}

.cell-content {
    display: flex;
    justify-content: space-around;
}

.vector {
    width: 20px;
    height: 14px;
    opacity: 0.5;
}
